@model  List<Data.Entity.Cliente>
<br />
<div class="col-lg-12">
    @Html.ActionLink("Novo Cliente", "Cliente", new { novoCliente = true}, new {@class= "btn btn-success" })
</div>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Lista de Clientes
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            Cliente ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            E-Mail
                        </th>
                        <th>
                            Logotipo
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ClienteId
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Logotipo
                            </td>
                            <td>
                                @Html.ActionLink("Deletar", "Delete", new { id= item.ClienteId}, new {@class= "text-danger" })
                                <label>/</label>
                                @Html.ActionLink("Editar", "Cliente", new { id= item.ClienteId})
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>